The first cell is used to import the packages needed to scrape the table from the website.
Rows are indicated by a 'tr' so finding that marker will allow the rows of the data frame to be populated.
Print the datafram to ensure all elements are there.

In [13]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
table = soup.find('table')
rows = table.find_all('tr')
data = []
for row in rows[1:]:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
df = pd.DataFrame(data, columns=['Postcode', 'Borough', 'Neighborhood'])

Takes the Borough with a 'Not assigned' and removes the row from the data frame. 
Shape call show the number of row and the number of columns.

In [14]:
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)
df.shape

(211, 3)

Reads in the second data frame with the postal code and coordinates.

In [15]:
data = pd.read_csv('https://cocl.us/Geospatial_data')
df2 = data
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Renaming the Postal Code column in order for the two data frames to be merged easily.

In [16]:
df2.rename(columns={'Postal Code':'Postcode'}, inplace=True)
df2.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge the two data frames so the neighborhoods will have coordinates.

In [17]:
df3 = pd.merge(df, df2, on=['Postcode'], how='inner')
df3.head()

  Postcode           Borough      Neighborhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763